* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: $header1;
  color: coral;
  margin: 5rem;
}

h2 {
  font-size: $header2;
  z-index: -2;
  position: absolute;
  top: -12%;
  left: 5%;
}
h3 {
  font-size: $header3;
  color: $header-color;
}
p {
  margin-top: 2rem;
  font-size: $text;
  color: $special-color;
}
a {
  text-decoration: none;
  font-size: $header2;
}

.box-container {
  margin: 5rem;
  margin: auto;

  padding: 2rem 3rem;
  display: inline-block;
}

.box {
  max-width: 30rem;
  min-width: 27rem;

  padding: 2.5rem 3rem;
  background-color: $background-color;
  border-radius: 1rem;
  position: relative;
}

.outerbox {
  background: rgba(255, 255, 255, 0);
  border: solid 0.2rem #01d4f9;
  border-radius: 1rem;

  position: absolute;
}

.one {
  min-height: 100vh;
}

.two {
  min-height: 100vh;
}

.three {
  min-height: 100vh;
}
