$header1: 5rem;
$header2: 4rem;
$header3: 2.5rem;
$text: 1.5rem;
$special-color: rgba(127, 121, 121, 0.544);
$header-color: darkblue;
$background-color: lightblue;

@mixin flex($justify, $align, $direction) {
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "one";
@import "two";
@import "three";
